@{
    ViewBag.Title = "";
}

<section id="section-1" class="about-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <!-- Begin heading
    ===================
    * Use class "heading-center" or "heading-right" to align heading.
    * Use class "heading-xs", "heading-sm", "heading-md", "heading-lg" or "heading-xlg" to shange heading size.
    * Use class "heading-hover" to enable heading hover effect.
    * Use class "heading-uppercase" to enable uppercase letters.
    -->
                <div class="heading heading-lg heading-hover wow fadeIn">
                    <span class="heading-title-ghost">About Us</span>
                    <h2 class="heading-title">About Us</h2>

                    <!-- Begin divider
        ===================
        * Use class "hr-width-1", "hr-width-2" -> up to "hr-width-10" to shange divider width.
        * Use class "hr-1x", "hr-2x", "hr-3x", "hr-4x" or "hr-5x" to shange divider size.
        * Use class "hr-dotted", "hr-dashed" or "hr-double" to shange divider style.
        -->
                    <hr class="hr-width-1 hr-5x border-main">
                    <!-- End divider -->

                    <p class="heading-tescription lead">
                        Des-Tech is a boutiqe software company founded in 1997. We successfuly completed over 120 software
                        projects with local and international enterprise companies. Our core specialty is  modeling and
                        implementing the real-life processes of companies into smoothly running software systems.
                        <a class="item-link inline-popup-trigger" href="#popup-about">Read More...</a>
                    </p>
                </div>
                <!-- End heading -->

                <!-- Begin inline popup content. Class "mfp-hide" is required to make dialog hidden -->
                <div id="popup-about" class="inline-popup mfp-hide">
                    <div class="inline-popup-inner">
                        <div class="row margin-top-40">
                            <div class="col-md-8 margin-bottom-20">
                                <h2 class="no-margin-top">About Des-Tech</h2>
                                <p>
                                    Des-Tech is a boutiqe software company founded in 1997. We successfuly completed over 120 software
                                    projects with local and international enterprise companies. Our core specialty is  modeling and
                                    implementing the real-life processes of companies into smoothly running software systems.
                                </p>

                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquapta. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi aliquipter consequat adipisicing sedari.</p>

                            </div>
                            <div class="col-md-4 margin-bottom-20 padding-left-40">
                                <ul class="list-unstyled">
                                    <li>Client: <strong><a href="#" target="_blank">MockCo INC</a></strong></li>
                                    <li>Date: <strong><a href="#" target="_blank">01 jan, 2016</a></strong></li>
                                    <li>Category <strong><a href="#" target="_blank">Photography</a></strong></li>
                                    <li>Copyright ©2016, All Rights Reserved</li>
                                </ul>
                            </div>
                        </div> <!-- /.row -->

                    </div> <!-- /.inline-popup-inner -->

                    <a class="inline-popup-close" href="#"><i class="fa fa-times"></i></a>

                </div>
                <!-- End inline popup content -->

            </div> <!-- /.col -->
        </div> <!-- /.row -->
    </div> <!-- /.container -->

    <div class="container margin-top-20">
        <div class="row wow fadeIn" data-wow-delay="0.3s">

            <div class="col-sm-6 col-md-3">
                <!-- Begin info box-1 -->
                <div class="info-box info-box-1">
                    <span class="info-box-icon"><i class="fa fa-object-ungroup"></i></span>
                    <div class="info-box-info">
                        <h4 class="info-box-title">Robust Design</h4>
                        <p class="info-box-text">A good architecture and modular design from start, saves lots of time when the project expands in time.</p>
                    </div>
                </div>
                <!-- End info box-1 -->
            </div> <!-- /.col -->

            <div class="col-sm-6 col-md-3">
                <!-- Begin info box-1 -->
                <div class="info-box info-box-1">
                    <span class="info-box-icon"><i class="fa fa-code"></i></span>
                    <div class="info-box-info">
                        <h4 class="info-box-title">Clean Code</h4>
                        <p class="info-box-text">Our coding practice is totally based on universal coding standarts, from naming conventions to class architecture.</p>
                    </div>
                </div>
                <!-- End info box-1 -->
            </div> <!-- /.col -->

            <div class="col-sm-6 col-md-3">
                <!-- Begin info box-1 -->
                <div class="info-box info-box-1">
                    <span class="info-box-icon"><i class="fa fa-code-branch"></i></span>
                    <div class="info-box-info">
                        <h4 class="info-box-title">Open Source</h4>
                        <p class="info-box-text">We deliver all our projects as open source with detailed documentation.</p>
                    </div>
                </div>
                <!-- End info box-1 -->
            </div> <!-- /.col -->

            <div class="col-sm-6 col-md-3">
                <!-- Begin info box-1 -->
                <div class="info-box info-box-1">
                    <span class="info-box-icon"><i class="fa fa-stethoscope"></i></span>
                    <div class="info-box-info">
                        <h4 class="info-box-title">Maintainance</h4>
                        <p class="info-box-text">After the project ends, the 1 year maintainance period where we handle bugs and fine-tune the user experience starts.</p>
                    </div>
                </div>
                <!-- End info box-1 -->
            </div> <!-- /.col -->

        </div> <!-- /.row -->
    </div> <!-- /.container -->

</section>
