@{
    ViewBag.Title = "";
}

<section id="section-1" class="about-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <!-- Begin heading
    ===================
    * Use class "heading-center" or "heading-right" to align heading.
    * Use class "heading-xs", "heading-sm", "heading-md", "heading-lg" or "heading-xlg" to shange heading size.
    * Use class "heading-hover" to enable heading hover effect.
    * Use class "heading-uppercase" to enable uppercase letters.
    -->
                <div class="heading heading-lg heading-hover wow fadeIn">
                    <span class="heading-title-ghost">About Us</span>
                    <h2 class="heading-title">About Us</h2>

                    <!-- Begin divider
        ===================
        * Use class "hr-width-1", "hr-width-2" -> up to "hr-width-10" to shange divider width.
        * Use class "hr-1x", "hr-2x", "hr-3x", "hr-4x" or "hr-5x" to shange divider size.
        * Use class "hr-dotted", "hr-dashed" or "hr-double" to shange divider style.
        -->
                    <hr class="hr-width-1 hr-5x border-main">
                    <!-- End divider -->

                    <p class="heading-tescription lead">
                        Des-Tech is a boutiqe software development company founded in 1997. We successfuly completed over 120 software
                        projects with local and international enterprise companies. Our core strength is  modeling and
                        implementing the real-life processes of companies into smoothly running software systems.
                        <a class="item-link inline-popup-trigger" href="#popup-about">Read More...</a>
                    </p>
                </div>
                <!-- End heading -->

                <!-- Begin inline popup content. Class "mfp-hide" is required to make dialog hidden -->
                <div id="popup-about" class="inline-popup mfp-hide">
                    <div class="inline-popup-inner">
                        <div class="row margin-top-40">
                            <div class="col-md-8 margin-bottom-20">
                                <h2 class="no-margin-top">About Des-Tech</h2>
                                <p>
                                    Des-Tech is a boutiqe software development company founded in 1997. We successfuly completed over 120 software
                                    projects with local and international enterprise companies.
                                </p>
                                <p>
                                    Our core strength is modeling and implementing the real-life processes of companies into smoothly running software systems.
                                </p>
                                <p class="margin-30">
                                    <img src="~/Content/images/office-desk.jpg" class="img-responsive img-rounded" style="max-width:350px;display: block; margin-left: auto; margin-right: auto;" />
                                </p>
                                <p>
                                    Our focus is creating middle to large sized software projects.
                                </p>
                                <p>
                                    Des-Tech is founded and run by two brothers; Bilgin Esme and Ergin Esme. One of them is living in
                                    Istanbul / Turkey, the other in Portland / USA.
                                </p>
                                <p>
                                    For over 20 years, we continue providing quality software solutions to our customers. We work hard to find clever solutions to hard
                                    problems and we love coding.
                                </p> 

                            </div>
                            <div class="col-md-4 margin-bottom-20 padding-left-40">
                                <h2 class="no-margin-top">Core Activities</h2>
                                <ul>
                                    <li>Back-end development with various databases</li>
                                    <li>Web based ERP Projects</li>
                                    <li>Web based projects with DB connectivity </li>
                                    <li>Service oriented intranet systems</li>
                                    <li>Service oriented client-server architecture software using</li>
                                    <li>Cloud based systems</li>
                                    <li>Complete ecosystems with web based systems and smart devices</li>
                                    <li>Application development running on multiple operating systems</li>
                                    <li>Systems running on IoT devices</li>
                                </ul>
                                <br />
                                <div class="col-md-12 text-center">
                                    For more details
                                    <a href="#section-3" target="_blank" class="btn btn-primary btn-rounded btn-lg margin-top-20">See Our Portfolio</a>
                                </div>
                            </div>

                        </div> <!-- /.row -->

                    </div> <!-- /.inline-popup-inner -->

                    <a class="inline-popup-close" href="#"><i class="fas fa-times"></i></a>

                </div>
                <!-- End inline popup content -->

            </div> <!-- /.col -->
        </div> <!-- /.row -->
    </div> <!-- /.container -->

    <div class="container margin-top-20">
        <div class="row wow fadeIn" data-wow-delay="0.3s">
            <div class="col-sm-6 col-md-3">
                <div class="info-box info-box-1">
                    <span class="info-box-icon" style="color:Tomato"><i class="fas fa-cubes"></i></span>
                    <div class="info-box-info">
                        <h4 class="info-box-title">Robust Design</h4>
                        <p class="info-box-text">A good architecture and modular design from start, saves lots of time when the project expands in time.</p>
                    </div>
                </div>
            </div><!-- Info box-1 -->
            <div class="col-sm-6 col-md-3">
                <div class="info-box info-box-1">
                    <span class="info-box-icon" style="color:Tomato"><i class="fas fa-code"></i></span>
                    <div class="info-box-info">
                        <h4 class="info-box-title">Clean Code</h4>
                        <p class="info-box-text">Our coding practice is totally based on universal coding standarts, from naming conventions to class architecture.</p>
                    </div>
                </div>
            </div><!-- Info box-2 -->
            <div class="col-sm-6 col-md-3">
                <div class="info-box info-box-1">
                    <span class="info-box-icon" style="color:Tomato"><i class="fas fa-code-branch"></i></span>
                    <div class="info-box-info">
                        <h4 class="info-box-title">Open Source</h4>
                        <p class="info-box-text">We deliver all our projects as open source with detailed documentation.</p>
                    </div>
                </div>
            </div><!-- Info box-3 -->
            <div class="col-sm-6 col-md-3">
                <div class="info-box info-box-1">
                    <span class="info-box-icon" style="color:Tomato"><i class="fas fa-stethoscope"></i></span>
                    <div class="info-box-info">
                        <h4 class="info-box-title">Maintainance</h4>
                        <p class="info-box-text">After the project ends, the 1 year maintainance period where we handle bugs and fine-tune the user experience starts.</p>
                    </div>
                </div>
            </div><!-- Info box-4 -->
        </div>
    </div> <!-- /.container -->

</section>
