@{
    ViewBag.Title = "";
}

<!-- ===================================
///// Begin call to action section /////
========================================
* Use class "angle-left-bottom" or "angle-right-bottom" to change intro bottom angle.
* Use class "bg-image-fixed" to make background image fixed (otherwise use class "bg-image").
* Use class "bg-image-parallax" to enable background image parallax effect (otherwise use class "bg-image").
* Use class "bg-pattern" if you use background patterns (example: http://subtlepatterns.com/). Combine with class "bg-image-fixed".
-->
<section class="call-to-action-section angle-left-bottom bg-dark bg-pattern " style="background-image: url(/Content/images/patterns/ptn-4.png);">

    <!-- Element cover
    ===================
    * Use background transparent color classes for colored opacity (example: "bg-transparent-6-dark", "bg-transparent-8-5-red" ... 1 to 95). Look into "helper.css" file for more info.
    -->
    <span class="cover bg-transparent-6-dark"></span>

    <div class="container">
        <div class="row wow fadeIn">
            <div class="col-md-8 padding-right-40">

                <h2 class="call-to-action-title text-gray-2">We make software!</h2>
                <p class="lead call-to-action-text text-gray">
                    Creating software for the companies, which they dream for a long time.
                </p>
                <p class="call-to-action-text lead text-gray margin-top-30">
                    We believe in : 
                    <strong>
                        hard work, life long learning, excellence, creativity, empathy with our customers, passion for our work
                    </strong>
                </p>
            </div><!-- Left column -->
            <div class="col-md-4 text-center">
                <img src="~/Content/images/ladder-and-cloud.png" class="img-responsive center-block" style="max-height:300px" />
            </div><!-- Right column -->
        </div><!-- /.row -->
    </div> <!-- /.container -->
</section>
<!-- End call to action section -->
