@{
    ViewBag.Title = "";
}

<span class="badge badge-success badge-primary">OK</span>
Please enter the Captcha

<script>
    $('#divMessage').show();
    console.log("showing...");
    alert("Please enter the correct Captcha!");
</script>
