@{
    ViewBag.Title = "Home Page";
}

@{ Html.RenderPartial("_TopSlidingBar"); }
@{ Html.RenderPartial("_Header"); }
@{ Html.RenderPartial("_Intro"); }
@{ Html.RenderPartial("_CallToAction"); }
@{ Html.RenderPartial("_About"); }
@{ Html.RenderPartial("_Services"); }
@{ Html.RenderPartial("_Portfolio"); }
@{ Html.RenderPartial("_Prices"); }
@{ Html.RenderPartial("_Team"); }
@{ Html.RenderPartial("_VideoPromo"); }
@{ Html.RenderPartial("_Blog"); }
@{ Html.RenderPartial("_Testimonials"); }
@{ Html.RenderPartial("_Clients"); }
@{ Html.RenderPartial("_Contact"); }
@{ Html.RenderPartial("_Footer"); }

<!-- Scroll to top button -->
<a href="#body-content" class="scrolltotop sm-scroll bg-main"><i class="fa fa-chevron-up"></i></a>
